<ion-view title="" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Oghd7n5oQoqnZvkXpPVp_DondeVotamos.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a href-inappbrowser="https://www.padron.gob.ar/" id="page2-button2" class="button button-assertive button-block">Consulta Pádron</a>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="page2-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Padrón Provisorio - Elecciones Primarias Nacionales</p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <img src="img/oVfM3Qr3TbGY3m1VGQyC_ImagenMenudesplegable.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>